<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="{oidcConfig.oidcAuthServerUrl}/js/keycloak.js"></script>

  <title>AEMS Rest</title>
</head>

<body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        AEMS Rest
      </h1>
      <div class="buttons">
        <button class="button is-primary" onclick="keycloak.login()">Login</button>
        <button class="button is-info" onclick="output(keycloak.tokenParsed)">Show Access Token</button>
        <button class="button is-warning" onclick="keycloak.logout()">Logout</button>
      </div>
      <p class="subtitle">
        <strong id="username"></strong>
      </p>
      <nav class="panel">
        <p class="panel-heading">
          Events
        </p>
        <div class="panel-block" id="events"></div>
      </nav>
      <label class="label">API Request</label>
      <div class="field is-grouped">
        <div class="control is-expanded">
          <input class="input" type="text" id="url" value="/user/profile" placeholder="Type API URL">
        </div>
        <div class="control">
          <a class="button is-success" onclick="request()">
            Get
          </a>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" id="include_access_token" checked>
            Include Access Token
          </label>
        </div>
      </div>
      <nav class="panel">
        <p class="panel-heading">
          Result
        </p>
        <div class="panel-block">
          <pre style="width: 100%;" id="output"></pre>
        </div>
      </nav>
      <nav class="panel">
        <p class="panel-heading">
          Message text
        </p>
        <div class="panel-block">
          <textarea id="message-text" class="textarea" placeholder="e.g. Hello world" rows="4" name="message-text"
            form="text-form"></textarea>
        </div>
        <div class="panel-block">
          <form id="text-form" method="POST" enctype="multipart/form-data" action="rs/message" style="width: 50%;">
            <input class="input" type="text" id="text-message-id" value="" placeholder="Message ID"
              name="text-message-id" autocomplete="off">
          </form>
          <div class="panel-block">
            <button id="text-message-submit-button" class="button is-link" onclick="textSubmit()">Submit</button>
          </div>
        </div>
        <div class="panel-block">
          <input style="width: 50%;" class="input" type="text" id="text-message-resource-name" value=""
            placeholder="Resource Name" name="text-message-resource-name" autocomplete="off" form="text-form">
          <div class="panel-block">
            <div class="buttons">
              <button id="text-message-update-button" class="button is-link" onclick="textUpdate()">Update</button>
              <button id="text-message-get-button" class="button is-link" onclick="textGet()">Get</button>
            </div>
          </div>
        </div>
      </nav>
      <nav class="panel">
        <p class="panel-heading">
          Attachment
        </p>
        <div class="panel-block">
          <form id="file-form-upload">
            <div id="file-js-attachment" class="file has-name">
              <label class="file-label">
                <div class="panel-block">
                  <input class="file-input" type="file" name="uploadedFile">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file
                    </span>
                  </span>
                  <span class="file-name">
                    No file selected
                  </span>
                </div>
                <div class="panel-block">
                  <input class="input" type="text" id="file-message-id" name="messageId" placeholder="Message ID"
                    autocomplete="off">
                </div>
              </label>
            </div>
          </form>
          <div class="buttons">
            <button id="upload-button" class="button is-link" onclick="fileUpload()">Upload</button>
          </div>
        </div>
        <div class="panel-block">
          <input style="width: 50%;" class="input" type="text" id="text-file-resource-name" value=""
            placeholder="Resource Name" name="resourceName" autocomplete="off" form="file-form-download">
          <div class="panel-block">
            <button id="download-button" class="button is-link" onclick="fileDownload()">Download</button>
          </div>
        </div>
        <form id="file-form-download" target="_blank" enctype="multipart/form-data" method="post">
        </form>
      </nav>
    </div>
  </section>
  <script>
    const textMessageIdInput = document.getElementById('text-message-id');
    const textSubmitButton = document.getElementById('text-message-submit-button');
    textSubmitButton.disabled = true;
    const textMessageResourceNameInput = document.getElementById('text-message-resource-name');
    const textUpdateButton = document.getElementById('text-message-update-button');
    const textGetButton = document.getElementById('text-message-get-button');
    textUpdateButton.disabled = true;
    textGetButton.disabled = true;
    const messageText = document.getElementById('message-text');
    messageText.oninput = () => {
      messageTxtOnChange();
    }
    textMessageIdInput.oninput = () => {
      messageTxtOnChange();
    }
    textMessageResourceNameInput.oninput = () => {
      messageTxtOnChange();
    }
    function messageTxtOnChange() {
      if (messageText.value.length > 0 && textMessageIdInput.value.length > 0) {
        textSubmitButton.disabled = false;
      } else {
        textSubmitButton.disabled = true;
      }
      if (textMessageResourceNameInput.value.length > 0) {
        textGetButton.disabled = false;
      } else {
        textGetButton.disabled = true;
      }
      if (messageText.value.length > 0 && textMessageIdInput.value.length == 0 && textMessageResourceNameInput.value.length > 0) {
        textUpdateButton.disabled = false;
      } else {
        textUpdateButton.disabled = true;
      }
    }
    async function textSubmit() {
      if (messageText.value.length > 0) {
        const textForm = document.getElementById('text-form');
        const url = 'rs/message';

        await fetch(url, {
          method: 'post',
          body: new FormData(textForm),
          headers: {
            'Authorization': `Bearer {|${await getToken()}|}`,
            'Accept': 'application/json, application/xml, text/plain, text/html',
          },
        });
      }
    }
    async function textUpdate() {
      if (messageText.value.length > 0) {
        const textForm = document.getElementById('text-form');
        // const resourceName = textMessageResourceNameInput.value;
        const url = 'rs/message';

        await fetch(url, {
          method: 'put',
          body: new FormData(textForm),
          headers: {
            'Authorization': `Bearer {|${await getToken()}|}`,
            'Accept': 'application/json, application/xml, text/plain, text/html',
          },
        });
      }
    }
    function textGet() {

    }
  </script>
  <script>
    const fileMessageIdInput = document.getElementById('file-message-id');
    const uploadButton = document.getElementById('upload-button');
    uploadButton.disabled = true;
    const downloadButton = document.getElementById('download-button');
    downloadButton.disabled = true;
    const fileInput = document.querySelector('#file-js-attachment input[type=file]');
    const textFileResourceNameInput = document.getElementById('text-file-resource-name');
    fileInput.onchange = () => {
      attachmentOnChange();
    }
    fileMessageIdInput.oninput = () => {
      attachmentOnChange();
    }
    textFileResourceNameInput.oninput = () => {
      attachmentOnChange();
    }
    function attachmentOnChange() {
      if (textFileResourceNameInput.value.length > 0) {
        downloadButton.disabled = false;
      } else {
        downloadButton.disabled = true;
      }
      if (fileInput.files.length > 0 && fileMessageIdInput.value.length > 0) {
        uploadButton.disabled = false;
        const fileName = document.querySelector('#file-js-attachment .file-name');
        fileName.textContent = fileInput.files[0].name;
      } else {
        uploadButton.disabled = true;
      }
    }
    async function fileUpload() {
      const fileInput = document.querySelector('#file-js-attachment input[type=file]');
      if (fileInput.files.length > 0) {
        const fileForm = document.getElementById('file-form-upload');
        const url = 'rs/upload';

        await fetch(url, {
          method: 'post',
          body: new FormData(fileForm),
          headers: {
            'Authorization': `Bearer {|${await getToken()}|}`,
            'Accept': 'application/json, application/xml, text/plain, text/html',
          },
        });
      }
    }
    async function fileDownload() {
      if (textFileResourceNameInput.value.length > 0) {
        const resourceName = textFileResourceNameInput.value;
        const token = await getToken();

        const fileFormDownload = document.getElementById('file-form-download');
        fileFormDownload.insertAdjacentHTML('beforeend', '<input id="access-token" type="hidden" name="accessToken" value="' + token + '" form="file-form-download">');
        const insertedElement = document.getElementById('access-token');

        const url = 'rs/download';

        fileFormDownload.action = url;
        fileFormDownload.submit();

        if (insertedElement) {
          insertedElement.parentNode.removeChild(insertedElement);
        }
      }
    }
  </script>
  <script>
    function event(event) {
      const e = document.getElementById('events').innerHTML;
      document.getElementById('events').innerHTML = new Date().toLocaleString() + "\t" + event + "\n" + e;
    }

    function output(data) {
      if (typeof data === 'object') {
        data = JSON.stringify(data, null, '  ');
      }
      document.getElementById('output').innerHTML = data;
    }

    async function doRequest(url, includeAccessToken) {
      const result = await fetch(url, {
        headers: includeAccessToken ? {
          // 'Authorization': `Bearer ${keycloak.token}`
          'Authorization': `Bearer {|${await getToken()}|}`
        } : undefined
      });
      const resultText = await result.text();

      // output(`Status: ${result.status} <br/>Content: ${resultText}`);
      output(`Status: {|${result.status}|} <br/>Content: {|${resultText}|}`);
    }

    const getToken = () => {
      return new Promise((resolve, reject) => {
        keycloak
          .updateToken()
          .success(() => {
            resolve(keycloak.token);
          })
          .error(() => {
            reject(new Error('Cannot get token'));
          });
      });
    };

    async function request() {
      const url = document.getElementById('url').value;
      const includeAccessToken = document.getElementById('include_access_token').checked;
      if (includeAccessToken) {
        try {
          await doRequest(url, includeAccessToken);
        } catch (error) {
          // output(`Error on request: ${error?.message}`);
          output(`Error on request: {|${error?.message}|}`);
        }
      } else {
        await doRequest(url, includeAccessToken)
      }
    }

    const keycloak = Keycloak({
      url: '{oidcConfig.oidcAuthServerUrl}',
      realm: '{oidcConfig.oidcAuthServerRealm}',
      clientId: '{oidcConfig.oidcCredentialsClientIdFrontend}',
      publicClient: true,
    });

    keycloak.onAuthSuccess = async function () {
      const user = await keycloak.loadUserInfo();
      // document.getElementById('username').innerHTML = `User: ${user.name}`;
      document.getElementById('username').innerHTML = `User: {|${user.name}|}`;
    };

    keycloak.init({
      pkceMethod: 'S256',
      onLoad: 'check-sso',
      silentCheckSsoRedirectUri: window.location.origin + '/silent-check-sso.html',
    }).success(function (authenticated) {
      event('Init Success (' + (authenticated ? 'Authenticated' : 'Not Authenticated') + ')');
    }).error(function (error) {
      event('Init Error');
    });


  </script>
</body>

</html>